<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>API usage sample</title>
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <style>
        .messages-demo {
            display: flex;
        }
        .messages-demo > div {
            padding: 20px;
        }
        .message-detail {
            flex-basis: 100%;
            margin-top: 40px;
        }
        .messages-list {
            flex-basis: 250px;
        }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
    {% verbatim %}

        const MessageDetail = ({ data }) => {
            if (!data) {
                return null;
            }
            return (
                <div className="message-detail" id="message-detail">
                    <p><b>From:</b> {data.from.name} {data.from.address}</p>
                    <p><b>Subject:</b> {data.subject}</p>
                    <h5>
                        Message&nbsp;
                        <a href="#" onClick={() => {
                            const images = document.getElementsByTagName("img");
                            for(var i = 0; i < images.length; i++){
                                const img = images[i];
                                if (img.getAttribute('original-src')) {
                                    img.src = img.getAttribute('original-src');
                                }
                            }
                        }}>Show Images</a>
                    </h5>
                    <div className="content" dangerouslySetInnerHTML={{__html: data['html-body'] }}></div>
                </div>
            );
        }
        class MessagesDemo extends React.Component {
          constructor(props) {
            super(props);

            this.state = {
              messages: [],
              message: null,
            };
          }

          componentDidMount() {
            axios.get(`/api/v1/messages/`)
              .then(res => {
                const messages = res.data.entries;
                this.setState({ messages });
              });
          }

          fetchMessage(messageId) {
            axios.get(`/api/v1/messages/${messageId}`)
              .then(res => {
                const message = res.data;
                this.setState({ message: message});
              });
          }

          render() {
            return (
              <div className='messages-demo'>
                <div className='messages-list'>
                    <h3>Messages</h3>
                    <ul>
                      {this.state.messages.map(message =>
                        <li key={message}>
                            <a href="#" onClick={() => this.fetchMessage(message)}>Message #{message}</a>
                        </li>
                      )}
                    </ul> 
                </div>
    
                <MessageDetail data={this.state.message} />

              </div>
            );
          }
        }

        ReactDOM.render(
            <MessagesDemo />,
            document.getElementById('root')
        );

    {% endverbatim %}
    </script>
  </body>
</html>

